<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>You found Jaequery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="/stack/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/stack/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class=" ">
        <a id="start"></a>
        <div class="nav-container ">
            <nav class="bar bar-4 bar--transparent bar--absolute" data-fixed-at="200">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-md-offset-0 col-4">
                            <div class="bar__module">
                                
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-0 col-8 col-offset-2">
                            <div class="bar__module">
                                
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">
            <section class="imageblock switchable feature-large">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder">
                        <img alt="image" src="https://media.giphy.com/media/39m67f635Guu8Xjy6C/giphy.gif" />
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h1>Jae Lee</h1>

                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a data-tooltip="github.com/jaequery" target="_blank" href="https://www.github.com/jaequery">
                                        <i class="socicon socicon-github icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-tooltip="@jaequery" href="https://twitter.com/jaequery">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li data-tooltip="instagram.com/jaequery">
                                    <a href="https://instagram.com/jaequery">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                                
                            </ul>
                            
                            <p class="lead">
                              Hi, I am a Full-Stack Developer<br>(Ruby / Javascript / Devops)
                              <p>I specialize in building beautiful MVPs for early-stage startups and getting companies off the ground quickly at scale.</p>


                            <p>
                              <h3>Startups</h3>
                              <li>Global Tech Asia Fund</li>
                              <li>Tribe</li>
                              <li>Greekme</li>                                                            
                              <li>Markett</li>
                              <li>Bambee</li>
                              <li>Processing.com</li>
                              <li>Xfire</li>
                              <li>Simplehelix</li>

                              
                            </p>

                            <p>
                              <h3>Brands</h3>
                              <li>Virgin</li>
                              <li>Walmart</li>
                              <li>1-800 Flowers</li>                                                            
                              <li>Jim Beans</li>                              
                            </p>
                            
                            

                            <h3>My personal projects:</h3>
                            
                            <a target="_blank" href="https://www.github.com/jaequery/jasis" class="block">
                                <div class="feature feature--featured boxed boxed--border bg--secondary">
                                    <span class="label">Current</span>
                                    <h5>Jasis</h5>
                                    <p>
                                        Jasis is a Sinatra-based starter kit with Postgres and Sequel support. It strives to be known as the simplest and the most elegant website starter. It comes with a built-in homepage, blog, contact form, and an admin interface.
                                    </p>
                                </div>
                                <!--end feature-->
                            </a>
                            <a target="_blank" href="https://www.github.com/jaequery/composekit" class="block">
                                <div class="feature boxed boxed--border bg--secondary">
                                    <h5>Composekit</h5>
                                    <p>
                                        Composekit is like NPM but for websites. It can retrieve, run, and even deploy websites all from the CLI with Docker. Works for OSX and Ubuntu.
                                    </p>
                                </div>
                                <!--end feature-->
                            </a>
                            <a target="_blank" href="https://www.github.com/jaequery/sitegrab" class="block">
                                <div class="feature boxed boxed--border bg--secondary">
                                    <h5>Sitegrab</h5>
                                    <p>
                                        Sitegrab is a website cloner for times you want to just hack around.
                                    </p>
                                </div>
                                <!--end feature-->
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="/stack/js/jquery-3.1.1.min.js"></script>
        <script src="/stack/js/flickity.min.js"></script>
        <script src="/stack/js/easypiechart.min.js"></script>
        <script src="/stack/js/parallax.js"></script>
        <script src="/stack/js/typed.min.js"></script>
        <script src="/stack/js/datepicker.js"></script>
        <script src="/stack/js/isotope.min.js"></script>
        <script src="/stack/js/ytplayer.min.js"></script>
        <script src="/stack/js/lightbox.min.js"></script>
        <script src="/stack/js/granim.min.js"></script>
        <script src="/stack/js/jquery.steps.min.js"></script>
        <script src="/stack/js/countdown.min.js"></script>
        <script src="/stack/js/twitterfetcher.min.js"></script>
        <script src="/stack/js/spectragram.min.js"></script>
        <script src="/stack/js/smooth-scroll.min.js"></script>
        <script src="/stack/js/scripts.js"></script>
    </body>
</html>